body{
    background-color: #2E3440;
}

.header{
    color:#D8DEE9;
    margin-top: 5vh;
/*    height: 13em;*/
    background-color: #3B4252;
/*    max-height: 35vw;*/
}

.link{
    color:#8FBCBB;
    text-decoration: none;
}

.link:hover{
    color:#88C0D0;
}

.header__personal-info{
    width: 25%;
    margin-left: 1vw;
    height: 100%;
}

.header__personal-info img{
    height: 11em;
    margin: 5% 10% 0 10%;
    max-height: 50%;
    width: auto;
}

.header__personal-info div{
    margin: 1em 0;
}

.header__personal-info p{
    margin-bottom: 0%;
}

.header__avatar{
    height: 20vh;
    margin-top: 4%;
}

.header__full-name{
    margin-left: 5%;
    margin-top: 5%;
}

.header__full-name h1{
    font-size: 400%;
}

.header__links{
    list-style: none;
    font-size: 120%;
}

/* .header__links li a{
    color:#8FBCBB;
    text-decoration: none;
} */

.about-me{
    color:#D8DEE9;
    min-height: 60vh;
}

.about-me__left, .about-me__right{
    padding: 3vh 0 3vh 2vw;
}
  

.about-me__left{
    background-color: #434C5E; 
    font-size: 1.5em;
}

.about-me__left h3{ 
    font-size: 2em;
}



/* .about-me__left a {
    color:#8FBCBB;
    text-decoration: none;
} */

.about-me__left ul {
    color:#E5E9F0;
}

.about-me__left ul li ul{
    color: #ECEFF4;
    list-style: none;
    font-size: 0.8em;
}


.about-me__right{
    background-color: #4C566A;
}

.about-me__right h2{
    font-size: 3em;
}

.about-me__block div{
    font-size: 1.01em;
}

.about-me__block ul{
    list-style: none;
}

.study-card{
    padding: 3%;
    background-color: #434C5E;
    margin-bottom: 1%;
}

.study-card__unifersity a{
    font-size: 200%;
    text-decoration: none;
}

.study-card__about-study{
    padding: 0 4%;
}

.block__inner{
    width:90%;
    margin: 0 auto
}

.carousel-caption a{
    text-decoration: none;
    color: #fff;
}

.footer{
    height:10em;
    padding: 3vh 3vw;
    width: 100%;
    color: #D08770;
    margin: 0;
}

.footer__inner{
    float: right;
}


.footer ul{
    list-style: none;
}

.footer a{
    color: #8FBCBB;
    text-decoration: none;
}